.logo {
    width: 40px;
    height: 40px;
}
.nav1 {
    background-color: aqua;
    width: 100%;
    height: 100px;
}
.li {
    color: blue
}
.body-image {
    width: 100%;
    height: 500px;
}

.ft-logo {
    width: 30px;
    height: 70ox;
}
